body {
    background: #FF69B4;
    font-family: "Trebuchet MS" ;
    font-size: medium;
  }

h1 {
  font-family: "Brush Script MT";
  font-size: xx-large;
}

image {
  max-width: 30%;
  max-height: 30%;
}